/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #4565F4;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #3EEBFC;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .img {
    display: block;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .first {
    font-size: larger;
  }

  .center2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .p1 {
    font-family: "Times New Roman", Times, serif;
  }

  .down {
    padding-top: 20px;
    
  }

  .ml2 {
    padding-top: 40px;
    font-weight: 500;
    font-size: 44px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #25CA93 
    ;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }
  .ml9 {
    position: relative;
    font-weight: 200;
    font-size: 44px;

  }
  
  .ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif ;
    color: #4FACFA ;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }
  .ml4 {
    position: relative;
    font-weight: 900;
    font-size: 50px;
    
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    color: #7231E3;
  }

  .img2 {
    padding-top: 100px;
  }
	
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .ml10 {
    position: relative;
    font-weight: 900;
    font-size: 50px;
  }
  
  .ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
  }
  
  .ml11 {
    font-weight: 700;
    font-size: 40px;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }

  